**pyc
\#*#
.#*
**~
**.ropeproject
iCLIPLib.egg-info/dependency_links.txt
test_scripts.log
.vscode/settings.json
iCLIPLib.egg-info/PKG-INFO
iCLIPLib.egg-info/SOURCES.txt
iCLIPLib.egg-info/top_level.txt
test_results.log
